<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <h1>Welcome <%= if Helpers.is_logged_in?(session) == true 
  Helpers.current_user(session).username end%></h1>
  
    <h3>Your Balance: <%= if Helpers.is_logged_in?(session) == true 
    Helpers.current_user(session).balance end%></h3>
      <a href="/logout">Log Out</a>
  </body>
</html>